{% extends 'base.html.twig' %}

{% block title %}PhotoClient index{% endblock %}

{% block body %}
    <h1>PhotoClient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo_client in photo_clients %}
            <tr>
                <td>{{ photo_client.id }}</td>
                <td>{{ photo_client.photo }}</td>
                <td>
                    <a href="{{ path('photo_client_show', {'id': photo_client.id}) }}">show</a>
                    <a href="{{ path('photo_client_edit', {'id': photo_client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('photo_client_new') }}">Create new</a>
{% endblock %}
