{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}


            <h1 align="center">Les parties jouées</h1>


    <table class="table">
        <thead>
        <tr>
            <th>Partie</th>
            <th>Jour</th>
            <th>Nombre de joueurs</th>
            <th>Nombre d'obstacles</th>
            <th>Reussite</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>
                <td>{{ partie.id }}</td>
                <td>{{ partie.jour ? partie.jour|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ partie.nbJoueurs }}</td>
                <td>{{ partie.nbObstacles }}</td>
                <td>{{ partie.reussite ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('partie_show', {'id': partie.id}) }}">Consulter les détails de la partie</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}