{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}

    <div align="center">
    <h1>Détails de la partie</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Partie</th>
                <td>{{ partie.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ partie.jour ? partie.jour|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de joueurs</th>
                <td>{{ partie.nbJoueurs }}</td>
            </tr>
            <tr>
                <th>Nombre d'obstacles</th>
                <td>{{ partie.nbObstacles }}</td>
            </tr>
            <tr>
                <th>Reussite</th>
                <td>{{ partie.reussite ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <div align="center">
        <a href="{{ path('partie_index') }}"><button>Retour aux choix de joueurs</button></a>
    </div>
{% endblock %}
